// -- Typography | 0 | general
// -------------------------------
body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

h1 {
    @extend b;
    @extend .text-uppercase;
    font-size: 100px;
    line-height: 0.9;
    max-width: 450px;
}

h2 {
    @extend b;
    font-size: 30px;
}

// -- Typography | 1 | modifiers
// -------------------------------
.text-uppercase {
    text-transform: uppercase;
}

.text-bold,
.bold {
    @extend b;
}

.text-center {
    text-align: center;
}

.fill-block {
    background-color: var(--color-three);
    color: var(--color-one);
    padding: 10px;
}

// -- Position | 2 | modifiers
// -------------------------------
.p-absolute {
    position: absolute;
  }
  
  .p-relative {
    position: relative;
  }