// normalize
html {
    -webkit-text-size-adjust: 100%;
    line-height: 1;
  }

* {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 100;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

strong, b {
  font-weight: 800;
  font-size: inherit;
}
