@import '_mixins.scss';
@import 'normalize.scss';
@import 'variables';
@import 'grid';
@import 'page';
@import 'frame';

@import 'components/standard_left.scss';
// @import 'icons';

:root {
    --color-one: white;
    --color-two: black;
    --color-three: gray;

    --body-width: #{$body-width};
    --body-grid-columns: 2;

    @media (max-width: ($body-width) ){
        --body-grid-columns: 1;  
    }
}